@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');


html {
  font-size: 0.2667vw;
  color: #000;
}
body{
  position: relative;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  background-color: #EEECE5;
}

/* common */
img {
  width: 100%;
}
.ir-blind {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  margin: 0;
}
.btn {
  padding: 0;
  font-size: 1px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider {
  position: relative;
}
.slider-inner{
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
}
.arrow {
  position: absolute;
  top: 190em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10em;
  box-sizing: border-box;
  z-index: 1;
}
.arrow a{
  display: block;
  width: 30em;
  height: 30em;
  overflow: hidden;
  text-indent: -999em;
}
.arrow .prev {
  background: url('./../images/btn_arrow_prev.png') no-repeat center/cover;
}
.arrow .next {
  background: url('./../images/btn_arrow_next.png') no-repeat center/cover;
}

/* layout */
.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.account {
  position: relative;
  width: 100vw;
  height: calc(100vh - 56em);
  padding-top: 56em;
  overflow: hidden;
  flex: 0 0 auto;
}
.account header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21em 0 27em;
}
.account-img {
  display: block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  overflow: hidden;
}
.account-nickname {
 font-size: 18em;
}
.btn-cont {

}
.btn-qr {
  width: 24em;
  height: 21em;
  background: url('./../images/btn_qr.png') no-repeat 0 0/cover;
}
.btn-search {
  margin-left: 18em;
  width: 24em;
  height: 21em;
  background: url('./../images/btn_search.png') no-repeat 0 0/cover;
}
.account-section {
  padding: 33em 0 21em;
}
.account-cont {
  position: relative;
  margin: 0 48em;
  padding: 18em 0 9em;
  background-color: #FFFFFF;
  border-radius: 12em;
  text-align: center;
}
.account-cont .btn-send {
  position: absolute;
  top: 12rem;
  right: 12rem;
  padding: 5rem;
  font-size: 14em;
}
.account-cont strong{
  display: block;
}
.account-cont .account-num {
  font-size: 14em;
  color: #858585;
}
.account-cont .account-money {
  display: block;
  margin-top: 25rem;
  font-size: 14em;
}
.account-cont .account-money strong {
  display: inline-block;
  font-size: 1.7em;
  letter-spacing: 0.1em;
}
.account-cont .progress-cont {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 10em;
}
.account-cont .progress-cont .bar {
  position: relative;
  width: 202em;
  height: 6em;
  margin-left: 18rem;
  background: #C4C4C4;
  border-radius: 3em;
}
.account-cont .progress-cont .bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 72%;
  height: 100%;
  background: #FFDB4C;
  border-radius: 3em;
}
.account-cont .progress-cont .bar .progress::before,
.account-cont .progress-cont .bar .progress::after {
  content:'';
  position: absolute;
  top: 50%;
  left: 100%;
  border-radius: 3em;
}
.account-cont .progress-cont .bar .progress::before {
  width: 8em;
  height: 21em;
  margin-top: -10em;
  background: #FFF;
}
.account-cont .progress-cont .bar .progress::after {
  width: 4em;
  height: 17em;
  margin-top: -8em;
  margin-left: 2em;
  background: #FF5F00;
}
.account-cont .progress-cont .btn-manage {
  width: 24em;
  height: 24em;
  margin-left: 7em;
  background: url('./../images/btn_chart.png') no-repeat 0 0/contain; 
  background-size: 14em;
  background-position: center bottom;
}
.account-cont .account-desc {
  margin-top: 1.2em;
  font-size: 14em;
  color: #858585;
}
.account-section aside {
  padding-top: 28rem;
  font-size: 14em;
  text-align: center;
}
.account-section aside a {
  color: #000;
}

/* 지출내역 */
.spend-section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 430em);
  padding: 25em 32em 0;
  margin-bottom: 76em;
  background: #F5F5F5;
  box-shadow: 0em -5em 14em rgba(189, 144, 28, 0.08);
  border-radius: 30em 30em 0em 0em;
  box-sizing: border-box;
  overflow: hidden;
  transition: height .5s ease-in-out;
  z-index: 2;
}
.spend-section.open {
  /* top: 100em; */
  height: calc(100vh - 176em);
}
.spend-section .dragbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100em;
  height: 25em;
}
.spend-section .dragbar::before {
  content:'';
  position: absolute;
  top: 4em;
  left: 50%;
  width: 48em;
  height: 2em;
  margin-left: -24em;
  background-color: #C4C4C4;
  border-radius: 4em;
}
.save-cont {
  display: flex;
  flex-wrap: nowrap;
  min-height: 47em;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none;
}
.save-cont::-webkit-scrollbar {
  display:none; 
}
.save-list {
  display: flex;
  flex: 0 0 auto;
}
.save-bar{
  position: relative;
  width: 162em;
  height: 47em;
  background-color: #DADADA;
  border-radius: 6em;
  overflow: hidden;
}
.save-bar + .save-bar {
  margin-left : 13em;
}
.save-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #FF5F00;
}
.save-name,
.save-money {
  position: relative;
  display: block;
  margin-top: 8rem;
  margin-left: 13rem;
  font-size: 12em;
  color: #fff;
  z-index: 1;
}
.save-money {
  margin-top: 5rem;
}
.save-add {
  flex: 0 0 auto;
  margin-left: 19em;
}
.save-add .btn-add {
  position: relative;
  color: #FF5F00;
  font-size: 12em;
  padding-left: 30rem;
}
.save-add .btn-add::before {
  content:'';
  position: absolute;
  left: 0;
  top: 50%;
  width: 22rem;
  height: 22rem;
  margin-top: -11rem;
  background: url('./../images/btn_add.png') no-repeat center/cover;
}
.day-cont {
  margin-top: 20em;
  padding: 0 4em 20em 4em;
  max-height: calc(100% - 87em);
  -ms-overflow-style: none;
  overflow-y: auto;
}
.day-cont::-webkit-scrollbar {
  display:none; 
}
.spend-section.open .day-cont {
  overflow-y: auto;
}
.day-list + .day-list {
  margin-top: 38em;
}
.day-list .day-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-summary .day {
  font-size: 14em;
  font-weight: 700;
  color: #000;
}
.day-summary .total {
  font-size: 14em;
  color: #B4B4B4;
}
.spend-cont {
  margin-top: 11em;
}
.spend-cont .spend-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7rem;
  font-size: 18em;
  font-weight: 300;
  line-height: 1.48;
  color: #444;
  border-bottom: 1px solid #DCDCDC;
}
.spend-cont .spend-list + .spend-list {
  margin-top: 8rem;
}
.spend-cont .spend-list.deposit .spend-cost {
  color: #FF5F00;
}

/* nav */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30em 0 30em;
  height: 76em;
  background: linear-gradient(180deg, #00BDB2 11.35%, #C4E7B8 139.96%);
  box-sizing: border-box;
}
nav .btn {
  width: 30em;
  height: 30em;
}
nav .btn-home {
  background: url('./../images/nav_btn_home.png') no-repeat;
  background-size: 23em 20em;
  background-position: center;
}
nav .btn-home.active {
  background: url('./../images/nav_btn_home-active.png') no-repeat;
  background-size: 23em 20em;
  background-position: center;
}
nav .btn-arrow {
  background: url('./../images/nav_btn_arrow.png') no-repeat;
  background-size: 30em 23em;
  background-position: center;
}
nav .btn-arrow.active {
  background: url('./../images/nav_btn_arrow-active.png') no-repeat;
  background-size: 30em 23em;
  background-position: center;
}
nav .btn-message {
  background: url('./../images/nav_btn_message.png') no-repeat;
  background-size: 23em 24em;
  background-position: center;
}
nav .btn-message.active {
  background: url('./../images/nav_btn_message-active.png') no-repeat;
  background-size: 23em 24em;
  background-position: center;
}
nav .btn-more {
  background: url('./../images/nav_btn_more.png') no-repeat;
  background-size: 26em 6em;
  background-position: center;
}
nav .btn-more.active {
  background: url('./../images/nav_btn_more-active.png') no-repeat;
  background-size: 26em 6em;
  background-position: center;
}
